<h1>Chapters</h1>
<%= link_to 'new chapter', new_chapter_path, class: 'button' %>
<%= link_to 'books', books_path, class: 'button' %>
<ul>
  <% @chapters.each do |chapter| %>
    <li>
      <%= link_to 'edit', edit_chapter_path(chapter), class: 'button' %>
      <%= link_to chapter.title, chapter_path(chapter) %>
    </li>
  <% end %>
</ul>
